$light: #fff;
$grey: #ccc;
$light-grey: #eee;
$alert: #cd7863;
$secondary: #c27fc6;
$primary: #851f6c;
$text: #21313f;
$border-radius-small: 0.25rem;
$border-radius-normal: 0.75rem;
$border-radius-large: 1rem;
$border-radius-largest: 1.25rem;
$main-component-padding: 50px 160px;
