@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  max-width: 1920px;
  margin: auto;
}

body,
input {
  font-family: "Quicksand", sans-serif;
}
